<launch>
    <param name="/simulation/usage/parameterized_scenario_search" value="true" />
    <rosparam command="load" file="$(find rss)/data/parameters.yaml" />

    <arg name="enable_rss_check" default="false" />
    <arg name="enable_reference_preventable_judgement" default="false" />
    <arg name="sim_with_external" default="false" />

    <arg name="sampling_suggestion_api" default="http://localhost:9009" />
    <arg name="batch_id" default="67d93a2fd8da7e14046d3736" />

    <!-- <arg name="map_name" default="alks_road_straight" /> -->
    <!-- <arg name="route_name" default="operation" /> -->
    <!-- <arg name="ego_position_seq" default="0" /> -->

    <arg name="map_name" default="hct_logistic" />
    <arg name="route_name" default="operation" />

    <!-- drive out hct -->
    <!-- <arg name="ego_position_seq" default="22" /> -->

    <!-- opposite overtake -->
    <arg name="ego_position_seq" default="4" />

    <!-- Bicycle Cut-in with Oncoming Car from Back -->
    <!-- <arg name="ego_position_seq" default="27" /> -->


    <!-- <arg name="route_name" default="hsc-hsp-hsc-loop" /> -->
    <!-- <arg name="route_name" default="loop1" /> -->
    <!-- <arg name="ego_position_seq" default="1" /> -->
    <!-- <arg name="ego_position_seq" default="3" /> -->

    <!-- <arg name="ego_position_seq" default="4" /> -->
    <!-- <arg name="ego_position_seq" default="5" /> -->
    <!-- <arg name="ego_position_seq" default="10" /> -->
    <!-- <arg name="ego_position_seq" default="12" /> -->
    <!-- <arg name="ego_position_seq" default="13" /> -->

    <!-- <arg name="ego_position_seq" default="14" /> -->
    <!-- <arg name="ego_position_seq" default="15" /> -->
    <!-- <arg name="ego_position_seq" default="17" /> -->

    <!-- <arg name="ego_position_seq" default="18" /> -->
    <!-- <arg name="ego_position_seq" default="20" /> -->

    <!-- <arg name="ego_position_seq" default="26" /> -->
    <!-- <arg name="ego_position_seq" default="25" /> -->
    <!-- <arg name="ego_position_seq" default="24" /> -->
    <!-- <arg name="ego_position_seq" default="23" /> -->
    <!-- <arg name="ego_position_seq" default="22" /> -->
    <!-- <arg name="ego_position_seq" default="21" /> -->
    <!-- <arg name="ego_position_seq" default="5" /> -->
    <!-- <arg name="ego_position_seq" default="6" /> -->
    <!-- <arg name="ego_position_seq" default="7" /> -->
    <!-- <arg name="ego_position_seq" default="8" /> -->
    <!-- <arg name="ego_position_seq" default="9" /> -->
    <!-- <arg name="ego_position_seq" default="4" /> -->

    <include file="$(find simulation_adv)/launch/run.launch">
        <arg name="sim_with_external" value="$(arg sim_with_external)" />
        <arg name="use_sim_time" value="false" />
        <arg name="by_tick" value="false" />
        <arg name="gbus" value="false" />
        <arg name="publish_scenario_visualization" value="false" />
        <arg name="velocity_in_ego_coord" value="true" />
        <arg name="detected_objects_topic" value="detected_objects" />
        <arg name="ego_position_seq" value="$(arg ego_position_seq)" />
        <arg name="run_once" value="true" />
        <arg name="disable_monitor" value="false" />
        <arg name="disable_collision" value="true" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <include file="$(find scenario)/launch/scenario_updater.launch">
        <arg name="enable_rss_check" value="$(arg enable_rss_check)" />
        <arg name="scenario_id" value="esmini" />
        <arg name="route_id" value="$(arg map_name)" />
        <arg name="agent_size" value="carla_agent_size.json" />
        <arg name="ego_init_pose_config_file" value="ego_init_pose_config_itri.json" />
    </include>

    <node
        pkg="scenario_search"
        type="single_parameterized_scenario_search.py"
        name="single_parameterized_scenario_search"
        output="screen"
    >
        <param name="sim_with_external" value="$(arg sim_with_external)" />
        <param name="batch_id" value="$(arg batch_id)" />
        <param name="route_name" value="$(arg route_name)" />
        <param name="map_name" value="$(arg map_name)" />
        <param name="sampling_suggestion_api" value="$(arg sampling_suggestion_api)" />
        <param name="enable_reference_preventable_judgement"
            value="$(arg enable_reference_preventable_judgement)" />
    </node>

    <node name="navigation_path_runner_node" pkg="scenario" type="navigation_path_runner_node"
        output="screen" />
    <!-- <rosparam command="load" file="$(find
    simulation_monitor)/config/simulation_monitor_setting.yaml"/> -->
    <!-- <node name="accident_recorder_node" pkg="simulation_monitor" type="accident_recorder.py"
    output="screen"/> -->
    <node name="tag_tree_identifier" pkg="scenario_classification" type="run_tree_of_tags.py"
        output="screen" />
</launch>
