@import '~payload/scss';

.scenario-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.scenario-list-label {
  margin: 0px 24px;
  font-size: 16px;
  color:rgb(233, 162, 96);
  font-weight: bold;
}

.not-found {
  color:rgb(233, 96, 96);
}

.scenario {
  margin: 1px 5px;
  padding: 2px 14px;
  color: rgba(233, 198, 0, 1.0);;
  border-radius: 5px;
  background-color: rgba(233, 198, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
}
