# payload --------------------------------------------------- 

DATABASE_URI=mongodb://mongo/server

# server url set in payload config
SERVER_URL=http://localhost:3000                

# place to mount your payload cms data (uploads and db), default is at the project root "app/data"
HOST_DATA_MOUNT_PATH=./data         

# generate your own secret
PAYLOAD_SECRET=123456789                        

# sampling --------------------------------------------------

# payload api for sampling server to call, default sampling server is deploy on the same machine as payload cms server
SAMPLING_PAYLOAD_API=http://payload:3000/api

HOST_SAMPLING_PORT=9009
