DATABASE_URI=postgres://postgres:payloadpass@postgres:5432/payloaddb # PostgreSQL connection string used by Docker (default)
# DATABASE_URI=postgres://postgres:payloadpass@localhost:5433/payloaddb # Use this if Payload is not running in Docker and you are connecting to a local Dockerized PostgreSQL instance

HOST_DATA_MOUNT_PATH=/mnt/beta/gpl-odd-data # Path on the host machine where Docker volumes are stored (file uploads and database data)
PAYLOAD_SECRET=7fce8770e77f163da7a67c8a # Application secret key (you can keep this or generate your own)

# These two variables are used to prevent CORS errors
PAYLOAD_PUBLIC_SERVER_URL=https://gpl-odd-payloadcms.chiu41.com # Public URL for the Payload admin/backend
PAYLOAD_CLIENT_URL=http://localhost:3000 # Frontend dashboard URL that consumes the Payload service
