VITE_API_ADDRESS=https://lssvip-research-payload.chiu41.com/api

# analyzer server at app/server/analyzer
VITE_ANALYZER_API_ADDRESS=http://localhost:9010

# Go to the User collection page at payload admin ui to check your api key
VITE_API_KEY=11ef564d-226b-44e2-b9ac-6995ef8b037b
